.git
node_modules
.eslint*
.prettier
README.md
npm-debug.log
yarn-error.log
Dockerfile
Dockerfile.*
.dockerignore
docker-compose.yml
.gitignore
compose.yml
compose-dev.yml
.env
.env-sample
.cache
bin
buildspec_*.yaml
!mc/.env
dist