NODE_ENV=production

CTP_API_URL=
CTP_AUTH_URL=
CTP_PROJECT_KEY=
CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_SCOPES=

# MYSQL Database settings.
MYSQL_HOST=db
MYSQL_DATABASE=worldline_ctintegration
MYSQL_USER=pspapp
MYSQL_PASSWORD=pspapp
MYSQL_ROOT_PASSWORD=pspapp
MYSQL_PORT=3306

# For Prisma:
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}"

APP_CORS_ALLOWED_HOSTS=*

#REDIS
ENABLE_CACHE=false
REDIS_CONNECTION_CONFIG='{"password":"","socket":{"host":"","port":""}}'

#LOGS
ENABLE_LOGS=false
LOG_LEVEL=debug
LOG_TIMESTAMP_FORMAT='YYYY-MM-DD HH:mm:ss:ms'
LOG_TRANSPORTS=console,all,error
LOG_ERROR_FILEPATH='logs/error.log'
LOG_ALL_FILEPATH='logs/all.log'

#IMAGE
DIR_IMAGE_UPLOAD='uploadedImages'
LIMIT_FILE_SIZE=2
ALLOWED_FILE_TYPES=image/png,image/jpeg,image/jpg,image/svg+xml,image/gif'