.payment-options-card {
    border-radius: 15px;
}

.payment-list-img {
    max-width: 80px;
}

.payment-title{
    margin: 15px 0px;
}

.settings-payment{
    cursor: pointer;
}

.popup-modal {
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    background-color: #fff;
    padding: 40px;
}

.payment-logo-modal {
    width:60%;
}

.delete-modal {
    width:40%;
}

.close-button {
    float: right;
    cursor: pointer;
}

.logo-section-wrapper {
    margin-bottom: 2rem;
}

.field-wrapper{
    justify-content: space-around;
    margin-bottom: 2rem;
}