.order-wrapper{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}
.order-list {
    overflow: auto;
    flex: 1;
}
.order-filters{
    display: flex;
    gap: 10px;
}
.filter-order {
    flex: 2
}
.search-order {
    flex: 3;
    padding: 0 10px;
}
.search-order button {
    padding: 0 10px;
}
.alert.alert-yellow {
    background-color: #FFF7E6;
    color: #B45309;
    padding: 6px 10px;
    border-radius: 4px;
    text-align: center;
}
.no-results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}
.clear-filter {
    display: flex;
    justify-content: flex-end;
    background-color: none;
}
.clear-filter button {
    background: none;
    outline: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.action-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.action-wrapper button {
    background: none;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}
.cancel-button {
    background: #CCC;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    min-width: 100px;
}
.cancel-agree-button {
    background: #056A4B;
    color: #FFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    min-width: 100px;
}