.payment-modal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0px;
    flex-wrap: wrap;
}

.hidden-input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    width: 1
}

.upload-btn {
    background-color: #45BEAA;
    margin: auto;
}

.logo-img{
    max-width: 240px;
}

.logo-placeholder {
    opacity: 0.2;
    font-size: 8rem;
}

.save-btn {
    background-color: #45BEAA;
}

.cancel-btn {
    background-color: #9F9F9F;
}

.image-container{
    justify-content: space-between;
    display: flex;
}

.logo-upload{
    display: flex;
    justify-content: space-between;
}

.image-actions {
    justify-content: space-around;
    display: flex;
}

.payment-option-fields {
    width: 50%;
}

#delete-modal-title {
    margin-bottom: 2rem;
}